<div class="container-fluid margin-top">
  <div class="row">
		<form name="form" role="form" class="form-horizontal" ng-submit="newCategory.submit()" novalidate>
			<div class="form-group">
				<label for="name" class="control-label col-md-2">Nombre</label>
				<div class="col-md-10">
					<input name="name" type="text" class="form-control" ng-model="newCategory.model.attributes.name" placeholder="Nombre" ng-required>
				</div><!-- /.col-md-10 -->
			</div>
			<div class="form-group">
				<label for="type" class="control-label col-md-2">Descripción</label>
				<div class="col-md-10">
					<input name="type" type="text" class="form-control" ng-model="newCategory.model.attributes.description" placeholder="Descripción">
				</div><!-- /.col-md-10 -->
			</div>
			<div class="form-group">
				<label for="type" class="control-label col-md-2">Tipo</label>
				<div class="col-md-10">
					<select name="type" class="form-control" ng-model="newCategory.model.attributes.type">
						<option value="Videos">Videos</option>
						<option value="FAQ">FAQ</option>
						<option value="Documentos">Documentos</option>
					</select>
				</div><!-- /.col-md-10 -->
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-primary" value="Crear" ></input>
				</div><!-- /.col-md-10 -->
			</div>
		</form>
  </div>
</div>